POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
HOST=8080
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=localhost:5672
TOKEN_TG_BOT=
REDIS_PASSWORD=default
REDIS_HOST=localhost:6379
REDIS_DB_ID=0